


body{font-family:'Arial',sans-serif;
background-color: white;
display: flex;
justify-content: center;
align-items: center;}

header{
    background-color:white ;
    color:white;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;}

nav ul{list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
gap: 80px;}


nav ul li a{
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: white;
    color: #2e8b57
}